@model IEnumerable<TilausDbMVC.Models.Tuotteet>

@*@model PagedList.IPagedList<TilausDbMVC.Models.Tuotteet>
    @using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Tuotteet", FormMethod.Get))
{
    <div class="input-group">
        <p class="px-1">@Html.Label("Find by name:")</p>
        <p class="px-1">@Html.TextBox("SearchString1", ViewBag.currentFilter1 as string, new { @class = "form-control" })</p>
        <p class="px-1"><input type="submit" value="Search" class="form-control" /></p>
    </div>
}


<table class="table">
    <tr>
        <th>Nimi</th>
        <th>Ahinta</th>
        <th>Kuva</th>
        <th></th>
        @*<th>@Html.DisplayNameFor(model => model.Nimi)</th>
            <th> @Html.DisplayNameFor(model => model.Ahinta)</th>
            <th> @Html.DisplayNameFor(model => model.Kuva)</th>
            <th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Nimi)</td>
            <td>@Html.DisplayFor(modelItem => item.Ahinta)</td>
            <td>@Html.DisplayFor(modelItem => item.Kuva)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TuoteID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TuoteID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TuoteID })
            </td>
        </tr>
    }

</table>
@*<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder =
ViewBag.CurrentSort,
    currentFilter1 = ViewBag.currentFilter1,
currentProductCategory = ViewBag.currentProductCategory
}))*@
